// Place all the styles related to the chatroom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#messages {
    height: 15em;
    overflow: auto;
}

.input {
    button {
        display: none;
    }
}
